extends base_layout

block append stylesheet-block
  link(rel='stylesheet' href='/css/simplemde.min.css')
  link(rel='stylesheet' href='/css/article_edit.css?' + new Date().getTime())

block main-body-block
  div.main
    div#edit-body
      div#edit-area
        textarea#md-editor !{content}
      //div.markdown-display#display-area
    div#op-div
      div#article-labels.op-bar
        label#label-label 标签
        input#label-input-area(placeholder='输入标签' maxlength=10)
        div#labels-area
      div.op-bar#upload-image-div
        button.operation-button#submit 发布文章
        //button.operation-button#save 保存文章
  div#choose-photo-div
    div#choose-photo-div-title 选择图片
    div#choose-photo-div-main-div
      div#choose-photo-div-groups
        ul#choose-photo-div-photo-group-ul
      div#choose-photo-div-right-div
        div#choose-photo-div-upload-div
          button.operation-button#choose-photo-div-upload-button(onclick='openUploadImgDialog()') 上传图片
          input#upload-img-input(type='file' accept='image/*' style='display:none' onchange='uploadImgInputChange()')
        div#choose-photo-div-photo-list-div
          ul#choose-photo-div-photo-list-ul
  div#insert-url-div
    div#insert-url-div-title 输入URL:
    input#insert-url-div-input
    div#insert-url-div-bottom-operation-bar
      button.operation-button.operation-button-cancel(onclick='onInsertUrlCancelClick()') 取消
      button.operation-button.operation-button-confirm(onclick='onInsertUrlConfirmClick()') 确定

  script#label-tpl(type='text/html').
    <div id="label-div-<%= ord %>" class='label-div label-div-label-<%= nclass %>'>
      <span><%= label %></span>
      <img id='label-div-delete-img-<%= ord %>' src='/images/icons/ic_clear_white_24dp_2x.png' onclick='deleteLabel(<%= ord %>)'></img>
    </div>
  script#photo-group-tpl(type='text/html').
    <li class='choose-photo-div-photo-group-li <%= current %>' data-gid='<%= gid %>' onclick='onGroupItemClick(this)'><%= name %>(<%= cnt %>)</li>
  script#photo-item-tpl(type='text/html').
    <li class='choose-photo-div-photo-item-li' onClick = 'onPhotoItemClick(this)'>
      <img class='choose-photo-div-photo-item-img' data-id='<%= id %>' src='<%= imgsrc %>' alt='图片' onload='photoImgOnLoad(this)' />
    </li>

block append jsscript-block
  script(src='/js/simplemde.min.js?' + new Date().getTime())
  script(src='/markdown-it.min.js')
  script(src='/markdown-it-classy.js')
  script(src='/plugins/highlight-keywords/prism-highlight-keywords.min.js')
  script(src='/prism.js')
  script const labels_exists = JSON.parse( `!{labels}` ); const this_article_id = `#{id}`; const current_labels = `#{current_labels}`;const this_type = `#{type}`;
  script(src='/js/article_edit.js')