extends base_layout

block body-block
  include website_banner
  mixin article_item(itemData)
    li.article-item-li(data-id = itemData.id )
      h3.article-item-li-title
        a(href='/articles/view/' + itemData.id) #{itemData.title}
      div.article-item-li-content #{itemData.descp}
      div.article-item-li-bottom-info
        span.article-item-li-pageview 阅读量(#{itemData.pageview})
        span.article-item-li-addtime #{new Date(itemData.modtime * 1000).format('yyyy-MM-dd hh:mm:ss')}
  mixin article_category(itemData)
    li.category-item-li
      a(href='#') #{itemData.name}
  div.main#articles-div
    block body-article-block
      div#articles-list-div
        ul#articles-list-ul.articles-list-ul-unexpanded
          each data in datas
            +article_item(data)
        ul#articles-foot-nav-ul
        include page_foot_pager_nav
    block article-left-side-block
      aside#article-left-sidebar
        img#article-category-img(src='/images/icons/ic_toc_grey_24dp_2x.png' data-state='hide')
        ul#article-categories-ul.article-categories-ul-hide
          each category in categories
            +article_category(category)
  script.
    $(document).ready(() => {
      $('.article-item-li-addtime').click(function() {
        alert($(this).text());
      })
    });